<section class="exercise">
    <div class="container">
        <img class="exercise__img" src="./images/boris.jpg" alt="boris">
        <div class="exercise__right">
            <p class="exercise__text">Одна людина, яка нещодавно втратила роботу. 
                Звернувся до нашої команди з проханням допомогти реалізувати startup. 
                Необхідно було створити сайт з пошуку найтрендовіших фільмів і, можливо, 
                надалі реалізувати їх перегляд онлайн. Вимога до реалізації в нього була досить проста. 
                А саме:
            </p>
            <ul class="exercise__list list">
                <li class="exercise__item">Виводити на головну сторінку найтрендовіші фільми</li>
                <li class="exercise__item">Зробити можливість пошуку фільмів за ключовими словами у назві</li>
                <li class="exercise__item">Реалізувати можливість створювати список фільмів, що сподобалися</li>
                <li class="exercise__item">Можливість перегляду трейлера фільму, що сподобався</li>
            </ul>
        </div>
    </div>
</section>