<div class="container">
    <div class="header__nav">
        <div class="logo">
            <a class="logo__link link" href="./index.html">
                <svg class="logo__icon" width="24" height="24">
                    <use href="./images/sprite.svg#icon-logo"></use>
                </svg>
                <h1 class="logo__web">Filmoteka</h1>
            </a>
        </div>
    </div>
    <img class="logo__team" src="./images/infinity-8.png"" alt="logo">
    <h2 class="header__name">Infinity</h2>
</div>

