<section class="next">
    <div class="container">
        <h2 class="next__head">У наступному релізі можемо зробити:</h2>
        <ul class="next__list">
            <li class="next__item">Мождивість купівлі права перегляду фільму онлайн</li>
            <li class="next__item">Абоніментна підписка на перегляд філмів</li>
            <li class="next__item">Перегляд фільму онлайн безпосередньо на сайті</li>
            <!-- <li class="next__item"></li>
            <li class="next__item"></li>
            <li class="next__item"></li> -->
        </ul>
    </div>
</section>