<section class="release">
    <div class="container">
        <h2 class="release__head">На проекті реалізовано</h2>
        <div class="release__bottom">
            <ul class="release__list list">
                <li class="release__item">Підвантаження популярних фільмів на головну сторінку</li>
                <li class="release__item">Пошук та відображення фільмів за ключовим словом</li>
                <li class="release__item">Пошук та відображення фільмів за жанрами</li>
                <li class="release__item">Модальне вікно з динамічно підставленою інформацією про фільм</li>
                <li class="release__item">Перегляд трейлера на youtube</li>
                <li class="release__item">Пагінація сторінок</li>
            </ul>
            <ul class="release__list list">
                <li class="release__item">Реєстрація/автентифікація користувача через Firebase</li>
                <li class="release__item">Модальне вікно з членами нашої команди</li>
                <li class="release__item">Сторінка бібліотеки користувача</li>
                <li class="release__item">Відображення списку переглянутих фільми користувача</li>
                <li class="release__item">Відображення списку перегляданих фільмів додані в чергу користувача</li>
            </ul>
        </div>
    </div>
</section>