<section class="teams">
    <div class="container">
        <ul class="teams__list list">
            <li class="team__item">
            <img src="./images/team/pavlenko.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Oleksandr Pavlenko</h3>
            <p class="teams__text">Team lead</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Scrum master</p>
            </li>
        </ul>
        <ul class="teams__list list">
            <li class="teams__item">
            <img src="./images/team/dmitriev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Maksim Dmitriev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Developer</p>
            </li>
        </ul>
        <ul class="teams__list list">
            <li class="teams__item">
            <img src="./images/team/dmitriev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Maksim Dmitriev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="photo" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Mentor</p>
            </li>
        </ul>
    </div>
</section>