<section class="teams">
    <div class="container">
        <ul class="teams__list list">
            <li class="team__item">
            <img src="./images/team/pavlenko.png" alt="Oleksandr Pavlenko" class="teams__img" />
            <h3 class="teams__name">Oleksandr Pavlenko</h3>
            <p class="teams__text">Team lead</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/gubariev.png" alt="Vitalii Gubariev" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Scrum master</p>
            </li>
        </ul>
        <ul class="teams__list list">
            <li class="teams__item">
            <img src="./images/team/dmitriev.png" alt="Maksim Dmitriev" class="teams__img" />
            <h3 class="teams__name">Maksim Dmitriev</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/ivanenko.png" alt="Andriy Ivanenko" class="teams__img" />
            <h3 class="teams__name">Andriy Ivanenko</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/mylymuk.png" alt="Oksana Mylymuk" class="teams__img" />
            <h3 class="teams__name">Oksana Mylymuk</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/homziak.png" alt="Semen Homziak" class="teams__img" />
            <h3 class="teams__name">Semen Homziak</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/yelisieiev.png" alt="Oleg Yelisieiev" class="teams__img" />
            <h3 class="teams__name">Vitalii Gubariev</h3>
            <p class="teams__text">Developer</p>
            </li>
        </ul>
        <ul class="teams__list list">
            <li class="teams__item">
            <img src="./images/team/dmitriev.png" alt="Pavlo Bakhtyn" class="teams__img" />
            <h3 class="teams__name">Pavlo Bakhtyn</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/dehtiarov.png" alt="Oleksandr Dehtiarov" class="teams__img" />
            <h3 class="teams__name">Oleksandr Dehtiarov</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/melnyk.png" alt="Dmytro Melnyk" class="teams__img" />
            <h3 class="teams__name">Dmytro Melnyk</h3>
            <p class="teams__text">Developer</p>
            </li>
            <li class="teams__item">
            <img src="./images/team/rysich.png" alt="Artem Rysich" class="teams__img" />
            <h3 class="teams__name">Artem Rysich</h3>
            <p class="teams__text">Mentor</p>
            </li>
        </ul>
    </div>
</section>