<section class="technology">
    <div class="container">
        <h2 class="technology__head">Технології, які використовувались на проекті:</h2>
        <div class="technology__bottom">
            <div>
                <h3 class="technology__text">Front-end</h3>
                <ul class="technology__list list">
                    <li class="technology__item">HTML/SASS/SCSS</li>
                    <li class="technology__item">JavaScript</li>
                    <li class="technology__item">Parcel</li>
                    <li class="technology__item">Node.js</li>
                </ul>
            </div>
            <div>
                <h3 class="technology__text">Utilities</h3>
                <ul class="technology__list list">
                    <li class="technology__item">Axios</li>
                    <li class="technology__item">Basiclightbox</li>
                    <li class="technology__item">Firebase</li>
                    <li class="technology__item">Lodash.debounce</li>
                    <li class="technology__item">Notiflix</li>
                </ul>
            </div>
        </div>
    </div>
</section>