.exercise {
    padding: 40px 0;
    background-color: #343d44;

    & .container {
        display: flex;
        align-items: center;
    }

    &__img {
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }

    &__right {
        width: 800px;
        margin: 0 70px;
        color: #ffffff;
        @include font(400, 16px, 22px, 0.02em);
    }

    // &__text {
    // }

    // &__list {
    // }

    &__item {
        margin-top: 40px;
        &::before{
            content:"\2720";
            margin-right: 20px;
            color: var(--accent-color);
        }
    }
}