.next {
    padding: 40px 0;
    // & .container {
    // }

    &__head {
        color: #ffffff;
        @include font(400, 28px, 33px, 0.02em);
        text-align: center;
        margin-bottom: 20px;
    }
    
    &__bottom{
        display: flex;
        column-gap: 30px;
        justify-content: center;
    }
    &__list {
        margin: 0 auto;
    }

    &__item {
        margin-top: 20px;
        color: #ffffff;
        text-align: center;
        @include font(400, 16px, 22px, 0.02em);
        &::before{
            content:"\2720";
            margin-right: 20px;
            color: var(--accent-color);
        }
    }
}