.technology {
    padding: 40px 0;
    background-color: #343d44;
    // & .container {
    // }

    &__head {
        color: #ffffff;
        @include font(400, 30px, 33px, 0.02em);
        text-align: center;
        margin-bottom: 20px;
    }
    
    &__bottom{
        display: flex;
        column-gap: 200px;
        justify-content: center;
    }
    &__text{
        margin-top: 20px;
        color: #ffffff;
        @include font(400, 24px, 26px, 0.02em);
    }
    // &__list {
    // }

    &__item {
        margin-top: 20px;
        color: #ffffff;
        @include font(400, 24px, 26px, 0.02em);
        &::before{
            content:"\2720";
            margin-right: 20px;
            color: var(--accent-color);
        }
    }
}